<app-container class="app-container">
  <div class="error-application-preview">
    <img class="error-application-image" src="/assets/images/errors/app.png" alt="barinb application" />
  </div>
  <div class="error-application-title">Скачайте приложение Barinb</div>
  <div class="error-application-hint">Быстрый доступ к лучшей недвижимости</div>
  <div class="error-application-code">
    <img class="error-application-qrcode" src="/assets/images/errors/code.png" alt="front bank qr" />
  </div>
  <nav class="error-application-links">
    <a href="https://www.apple.com/ru/app-store/" class="error-application-link is-desktop">Подробнее в App Store</a>
    <a href="https://play.google.com/" class="error-application-link is-desktop">Подробнее в Google Play</a>
    <button mat-raised-button class="error-application-link is-mobile" (click)="onDownload()">Скачать</button>
  </nav>
</app-container>
