<app-container class="app-container">
  <div class="error-application-preview">
    <img
      automation-id="error-application-image"
      class="error-application-image"
      src="/assets/images/errors/app.png"
      alt="barinb application"
    />
  </div>
  <div automation-id="error-application-title" class="error-application-title">Скачайте приложение Barinb</div>
  <div automation-id="error-application-hint" class="error-application-hint">Быстрый доступ к лучшей недвижимости</div>
  <div class="error-application-code">
    <img
      automation-id="error-application-qrcode"
      class="error-application-qrcode"
      src="/assets/images/errors/code.png"
      alt="front bank qr"
    />
  </div>
  <nav class="error-application-links">
    <a automation-id="error-application-apple" href="https://www.apple.com/ru/app-store/" class="error-application-link is-desktop"
      >Подробнее в App Store</a
    >
    <a automation-id="error-application-google" href="https://play.google.com/" class="error-application-link is-desktop"
      >Подробнее в Google Play</a
    >
    <button automation-id="error-application-download" mat-raised-button class="error-application-link is-mobile" (click)="onDownload()">
      Скачать
    </button>
  </nav>
</app-container>
