<app-container *ngIf="roomExtended$ | async as room" class="room-view">
  <div class="room-view-header">
    <h1 class="room-view-title">{{ room.buildingExtended.name }}</h1>
    <button class="room-view-back" type="button" mat-icon-button (click)="onBack()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="room-view-details">
    <div class="room-view-detail"><mat-icon color="warn">star</mat-icon> 4.99</div>
    <div class="room-view-detail"><mat-icon color="warn">emoji_events</mat-icon> Суперхозяин</div>
    <div class="room-view-detail">{{ room.buildingExtended.address }}</div>
  </div>
  <app-room-photos [photos]="room.photos"></app-room-photos>
</app-container>
