<ng-container *ngIf="isDesktopScreen; then desktopTpl; else mobileTpl"></ng-container>

<ng-template #desktopTpl>
  <app-container mode="fluid" height="max-height">
    <app-row mode="md">
      <app-column class="admin-menu" [modes]="{ md: 4, lg: 3, xl: 2 }">
        <app-admin-desktop-menu automation-id="admin-desktop-menu"></app-admin-desktop-menu>
      </app-column>
      <app-column [modes]="{ md: 8, lg: 9, xl: 10 }">
        <router-outlet></router-outlet>
      </app-column>
    </app-row>
  </app-container>
</ng-template>

<ng-template #mobileTpl>
  <app-admin-mobile-menu class="admin-menu" automation-id="admin-mobile-menu"></app-admin-mobile-menu>
  <app-container mode="fluid" height="max-height">
    <router-outlet></router-outlet>
  </app-container>
</ng-template>
