@use '~@angular/material' as mat;
@import 'src/stylesheets/utils';

:host {
  display: block;
  margin-bottom: 1rem;
}

.room-service {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  &_style {
    padding-top: 1rem;
    border-top: 1px solid mat.get-color-from-palette(mat.$gray-palette, 300);
  }
}
