<mat-card>
  <mat-card-header>
    <a
      mat-card-avatar
      class="room-card-avatar"
      [routerLink]="NavigationPath.AdminPersonsPage | navPath"
      [queryParams]="{ person: room.buildingExtended.personExtended.id }"
      [ngStyle]="{ backgroundImage: 'url(' + room.buildingExtended.personExtended.avatar + ')' }"
    >
    </a>
    <mat-card-title>{{ room.buildingExtended.personExtended | personFullName }}</mat-card-title>
    <mat-card-subtitle>{{ room.buildingExtended.city }}, {{ room.buildingExtended.address }}</mat-card-subtitle>
  </mat-card-header>
  <div mat-card-image>
    <app-carousel class="room-card-carousel" [images]="room.photos"></app-carousel>
  </div>
  <mat-card-content>
    <div class="room-card-props">
      <div class="room-card-prop">{{ room.price }} ₽</div>
      <div class="room-card-prop">{{ room.created | date: 'longDate' }}</div>
    </div>
    <div>
      {{ room.description }}
    </div>
  </mat-card-content>
  <mat-card-actions>
    <app-admin-room-actions [room]="room"></app-admin-room-actions>
  </mat-card-actions>
</mat-card>
