<mat-form-field *ngIf="control">
  <mat-label automation-id="admin-room-photos-label">Фотографии</mat-label>
  <mat-chip-list automation-id="admin-room-photos-control" #chipList aria-label="Фотографии" [formControl]="control">
    <mat-chip *ngFor="let photo of photos; let index = index" [selectable]="selectable" [removable]="removable" (removed)="remove(index)">
      {{ photo }}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      [id]="id"
      automation-id="admin-room-photos-control-input"
      placeholder="Новая фотография..."
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-list>
  <mat-hint automation-id="admin-room-photos-hint">Добавляйте абсолютные пути к изображениям</mat-hint>
</mat-form-field>
