@use '~@angular/material' as mat;
@import 'src/stylesheets/utils';

:host {
  display: block;
  border: 1px solid mat.get-color-from-palette(mat.$gray-palette, 300);
  border-radius: 0.25rem;
  padding: 1rem;

  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.column {
  width: 100%;
}

.booking-portlet-carousel {
  max-width: 100%;
  width: 100%;
  height: 10rem;

  @include media-breakpoint-up(sm) {
    height: 14rem;
  }

  @include media-breakpoint-up(md) {
    width: 100%;
  }

  @include media-breakpoint-up(lg) {
    width: auto;
  }
}

.booking-portlet-content {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 0;
  height: 100%;
}

.booking-portlet-title {
  margin: 1rem 0;
  font-weight: 500;
  font-size: 1.1rem;

  @include media-breakpoint-up(md) {
    font-size: 1.25rem;
  }
}

.booking-portlet-actions {
  margin: auto 0 0 auto;
}
