@use '~@angular/material' as mat;
@import 'src/stylesheets/utils';

.admin-menu-link {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: mat.get-color-from-palette(mat.$gray-palette, 200);
  }
}
