<ng-container *ngIf="form">
  <app-admin-person-lastname
    automation-id="admin-person-lastname"
    [control]="form | extractFormControl: PersonField.LastName"
  ></app-admin-person-lastname>
  <app-admin-person-firstname
    automation-id="admin-person-firstname"
    [control]="form | extractFormControl: PersonField.FirstName"
  ></app-admin-person-firstname>
  <app-admin-person-middlename
    automation-id="admin-person-middlename"
    [control]="form | extractFormControl: PersonField.MiddleName"
  ></app-admin-person-middlename>
  <app-admin-person-phone
    automation-id="admin-person-phone"
    [control]="form | extractFormControl: PersonField.Phone"
  ></app-admin-person-phone>
  <app-admin-person-avatar
    automation-id="admin-person-avatar"
    [control]="form | extractFormControl: PersonField.Avatar"
  ></app-admin-person-avatar>
</ng-container>
