<ng-container *ngIf="buildings?.length; else emptyTpl">
  <table class="admin-table" mat-table [dataSource]="dataSource">
    <ng-container [matColumnDef]="BuildingField.ID">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let building">{{ building.id }}</td>
    </ng-container>

    <ng-container [matColumnDef]="BuildingField.Name">
      <th mat-header-cell *matHeaderCellDef>Название</th>
      <td mat-cell *matCellDef="let building">{{ building.name }}</td>
    </ng-container>

    <ng-container [matColumnDef]="BuildingField.City">
      <th mat-header-cell *matHeaderCellDef>Город</th>
      <td mat-cell *matCellDef="let building">{{ building.city }}</td>
    </ng-container>

    <ng-container [matColumnDef]="BuildingField.Address">
      <th mat-header-cell *matHeaderCellDef>Адрес</th>
      <td mat-cell *matCellDef="let building">{{ building.address }}</td>
    </ng-container>

    <ng-container [matColumnDef]="BuildingField.Rooms">
      <th mat-header-cell *matHeaderCellDef>Количество номеров</th>
      <td mat-cell *matCellDef="let building">{{ building.rooms.length }}</td>
    </ng-container>

    <ng-container [matColumnDef]="BuildingField.Created">
      <th mat-header-cell *matHeaderCellDef>Дата создания</th>
      <td mat-cell *matCellDef="let building">{{ building.created | date: 'longDate' }}</td>
    </ng-container>

    <ng-container [matColumnDef]="BuildingField.Updated">
      <th mat-header-cell *matHeaderCellDef>Дата обновления</th>
      <td mat-cell *matCellDef="let building">{{ building.updated | date: 'longDate' }}</td>
    </ng-container>

    <ng-container [matColumnDef]="'actions'">
      <th mat-header-cell *matHeaderCellDef>Действия</th>
      <td mat-cell *matCellDef="let building">
        <app-admin-building-actions [building]="building"></app-admin-building-actions>
      </td>
    </ng-container>

    <ng-container [matColumnDef]="BuildingField.Person">
      <th mat-header-cell *matHeaderCellDef>Хозяин</th>
      <td mat-cell *matCellDef="let building">
        <app-admin-person-link [person]="building.personExtended"></app-admin-person-link>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-container>

<ng-template #emptyTpl>
  <p>Нет созданных отелей. Для того, чтобы добавить здание, нажмите - "Добавить отель".</p>
</ng-template>
