@use '~@angular/material' as mat;
@import 'src/stylesheets/utils';

:host {
  display: block;
  margin: 1rem 0;
  border: 1px solid mat.get-color-from-palette(mat.$gray-palette, 300);
  border-radius: 0.25rem;
  padding: 1rem;
}

.room-booking-price {
  margin-bottom: 1rem;
  font-size: 1.15rem;
  font-weight: 500;

  @include media-breakpoint-up(md) {
    font-size: 1.35rem;
  }
}
