<mat-toolbar color="primary">
  <a automation-id="header-logo" class="header-logo" [routerLink]="NavigationPath.Home | navPath">
    <span automation-id="header-brand" class="header-brand">Barinb</span>
  </a>
  <span class="header-spacer"></span>
  <a automation-id="header-link-home" mat-icon-button aria-label="Home" [routerLink]="NavigationPath.Home | navPath">
    <mat-icon>home</mat-icon>
  </a>
  <a automation-id="header-link-admin" mat-icon-button aria-label="Admin" [routerLink]="NavigationPath.Admin | navPath">
    <mat-icon>settings</mat-icon>
  </a>
  <button automation-id="header-link-help" mat-icon-button aria-label="Help" (click)="onOpenDialog()">
    <mat-icon>help_outline</mat-icon>
  </button>
</mat-toolbar>
