<mat-card>
  <mat-card-header>
    <a
      mat-card-avatar
      class="room-card-avatar"
      [routerLink]="NavigationPath.AdminPersonsPage | navPath"
      [queryParams]="{ person: building.personExtended.id }"
      [ngStyle]="{ backgroundImage: 'url(' + building.personExtended.avatar + ')' }"
    >
    </a>
    <mat-card-title>{{ building.personExtended | personFullName }}</mat-card-title>
    <mat-card-subtitle>{{ building.city }}, {{ building.address }}</mat-card-subtitle>
  </mat-card-header>
  <div mat-card-image>
    <app-carousel class="room-card-carousel" [images]="building.roomsExtended | roomsPreviewImages"></app-carousel>
  </div>
  <mat-card-content>
    <div class="room-card-props">
      <div class="room-card-prop">номеров {{ building.rooms.length }}</div>
      <div class="room-card-prop">{{ building.created | date: 'longDate' }}</div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <app-admin-building-actions [building]="building"></app-admin-building-actions>
  </mat-card-actions>
</mat-card>
