<mat-dialog-content *ngIf="building">
  <app-admin-group>
    <app-admin-label automation-id="admin-building-name-label">Название</app-admin-label>
    <app-admin-value automation-id="admin-building-name-value">{{ building.name }}</app-admin-value>
  </app-admin-group>
  <app-admin-group>
    <app-admin-label automation-id="admin-building-person-label">Собственник</app-admin-label>
    <app-admin-value automation-id="admin-building-person-value">{{ building.personExtended | personFullName }}</app-admin-value>
  </app-admin-group>
  <app-admin-group>
    <app-admin-label automation-id="admin-building-city-label">Город</app-admin-label>
    <app-admin-value automation-id="admin-building-city-value">{{ building.city }}</app-admin-value>
  </app-admin-group>
  <app-admin-group>
    <app-admin-label automation-id="admin-building-address-label">Адрес</app-admin-label>
    <app-admin-value automation-id="admin-building-address-value">{{ building.address }}</app-admin-value>
  </app-admin-group>
  <app-admin-group>
    <app-admin-label automation-id="admin-building-coords-label">Координаты</app-admin-label>
    <app-admin-value automation-id="admin-building-coords-value">{{ building.lat }} / {{ building.lng }}</app-admin-value>
  </app-admin-group>
  <app-admin-group>
    <app-admin-label automation-id="admin-building-rooms-label">Номера</app-admin-label>
    <app-admin-value automation-id="admin-building-rooms-value">
      <ul *ngIf="building.roomsExtended.length">
        <li *ngFor="let room of building.roomsExtended">
          <a [routerLink]="roomPath | navPath" [queryParams]="{ room: room.id }">{{ room.id }} - {{ room.price }}</a>
        </li>
      </ul>
      <p *ngIf="!building.roomsExtended.length">Нет ни одного номера</p>
    </app-admin-value>
  </app-admin-group>
  <app-admin-group>
    <app-admin-label automation-id="admin-building-created-label">Создано</app-admin-label>
    <app-admin-value automation-id="admin-building-created-value">{{ building.created | date: 'longDate' }}</app-admin-value>
  </app-admin-group>
  <app-admin-group>
    <app-admin-label automation-id="admin-building-updated-label">Обновлено</app-admin-label>
    <app-admin-value automation-id="admin-building-updated-value">{{ building.updated | date: 'longDate' }}</app-admin-value>
  </app-admin-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button automation-id="admin-building-close" mat-raised-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>
