<h2 mat-dialog-title automation-id="help-dialog-title">О приложении BARINB</h2>
<mat-dialog-content automation-id="help-dialog-content" class="mat-typography">
  <p>Данное приложение представляет собой, демо проект, для демонстрации возможностей Angular вместе с лучшими практиками.</p>

  <p>
    Приложение реализует часть реального приложения Airbnb, где пользователь может просмотреть список доступного жилья на карте или в
    списке.
  </p>

  <p>
    Так как это web-приложение, то оно ориентировано на различные платформы. Поэтому мобильная версия отличается от декстопной, методом
    изменения работы. В мобильной версии можно переключать вид с поиска на карте, на простой список вариантов. В декстопной версии, доступны
    сразу два варианта.
  </p>

  <p>
    При поиске недвижимости на карте, при клике на доступный вариант, показывается превью и при клике на картинку, будет открываться полное
    описание варианта.
  </p>

  <p>Также для демонстрации работы с формами и изменением данных, добавлен раздел с администрированием.</p>

  <p>
    В разделе администрирования, можно создать и отредактировать три базовые сущности: Person (Владелец недвижимости), Building (отель,
    комплекс) и Room (комната, апартаменты). Каждый собственник владеет зданием. В здании представлены несколько вариантов (комнат), которые
    может снять/арендовать клиент.
  </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button automation-id="help-dialog-close" mat-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>
