<h2 mat-dialog-title automation-id="admin-person-title">Внимание</h2>
<div mat-dialog-content automation-id="admin-person-content">
  <p>Вы действительно хотите удалить собственника № {{ person.id }}?</p>
</div>
<div mat-dialog-actions align="center">
  <button automation-id="admin-person-cancel" type="button" color="primary" mat-raised-button (click)="onCancel()">Нет</button>
  <button automation-id="admin-person-remove" type="button" color="warn" mat-raised-button (click)="onSuccess()">Да</button>
</div>
