@import 'src/stylesheets/utils';

:host {
  display: block;
  margin: 1rem 0;
}

.room-view-person {
  font-weight: 500;
  font-size: 1.15rem;
  margin: 0;

  @include media-breakpoint-up(md) {
    font-size: 1.25rem;
  }
}

.room-view-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.room-view-avatar {
  display: block;
  width: 3rem;
}

.room-view-image {
  max-width: 100%;
  width: 100%;
  border-radius: 50%;
}
