<ng-container *ngIf="room">
  <div class="room-feature">
    <div class="room-feature-aside">
      <mat-icon>home</mat-icon>
    </div>
    <div class="room-feature-content">
      <div class="room-feature-title">Жилье целиком</div>
      <div class="room-feature-description">Квартира полностью в вашем распоряжении.</div>
    </div>
  </div>

  <div class="room-feature">
    <div class="room-feature-aside">
      <mat-icon>cleaning_services</mat-icon>
    </div>
    <div class="room-feature-content">
      <div class="room-feature-title">Расширенная уборка</div>
      <div class="room-feature-description">Хозяин следует расширенному протоколу уборки.</div>
    </div>
  </div>

  <div class="room-feature">
    <div class="room-feature-aside">
      <mat-icon>emoji_events</mat-icon>
    </div>
    <div class="room-feature-content">
      <div class="room-feature-title">{{ room.buildingExtended.personExtended.firstName }} — суперхозяин.</div>
      <div class="room-feature-description">
        Суперхозяева — опытные хозяева с отличными отзывами, которые делают всё для комфорта гостей.
      </div>
    </div>
  </div>

  <div class="room-feature">
    <div class="room-feature-aside">
      <mat-icon>list_alt</mat-icon>
    </div>
    <div class="room-feature-content">
      <div class="room-feature-title">Правила дома</div>
      <div class="room-feature-description">В жилье нельзя останавливаться с животными, проводить вечеринки или курить.</div>
    </div>
  </div>

  <div class="room-feature">
    <div class="room-feature-aside">
      <mat-icon>date_range</mat-icon>
    </div>
    <div class="room-feature-content">
      <div class="room-feature-title">Бесплатная отмена</div>
    </div>
  </div>
</ng-container>
