@use '~@angular/material' as mat;
@import 'src/stylesheets/utils';

:host {
  display: block;
  margin: 1rem 0;
}

.room-view-carousel {
  width: 100%;
  height: 10rem;

  @include media-breakpoint-up(md) {
    height: 15rem;
  }

  @include media-breakpoint-up(lg) {
    height: 18rem;
  }

  @include media-breakpoint-up(xl) {
    height: 30rem;
  }
}

.room-view-separator {
  height: 1px;
  background-color: mat.get-color-from-palette(mat.$gray-palette, 400);
  margin: 1rem 0;

  @include media-breakpoint-up(md) {
    margin: 2rem 0;
  }
}
