<ng-container *ngIf="slides?.length">
  <app-carousel-slide
    automation-id="carousel-slide"
    [image]="image"
    [active]="active === index"
    *ngFor="let image of slides; let index = index"
    (click)="onClick(index)"
  ></app-carousel-slide>

  <app-carousel-dots
    automation-id="carousel-dots"
    [counts]="slides.length"
    [active]="active"
    (selected)="onSelected($event)"
  ></app-carousel-dots>
  <app-carousel-navs automation-id="carousel-navs" (prev)="onPrev()" (next)="onNext()"></app-carousel-navs>
</ng-container>
