<div automation-id="footer-copyright" class="footer-copyright">© 2021 Barinb. Все права защищены.</div>
<div class="footer-spacer"></div>
<nav class="footer-links">
  <a automation-id="footer-link-facebook" class="footer-link" mat-icon-button href="//facebook.com" target="_blank">
    <mat-icon class="footer-icon" aria-label="Link to facebook" [svgIcon]="'appFacebook'"></mat-icon>
  </a>
  <a automation-id="footer-link-twitter" class="footer-link" mat-icon-button href="//twitter.com" target="_blank">
    <mat-icon class="footer-icon" aria-label="Link to twitter" svgIcon="appTwitter"></mat-icon>
  </a>
  <a automation-id="footer-link-youtube" class="footer-link" mat-icon-button href="//youtube.com" target="_blank">
    <mat-icon class="footer-icon" aria-label="Link to youtube" svgIcon="appYoutube"></mat-icon>
  </a>
  <a automation-id="footer-link-telegram" class="footer-link" mat-icon-button href="//telegram.org" target="_blank">
    <mat-icon class="footer-icon" aria-label="Link to telegram" svgIcon="appTelegram"></mat-icon>
  </a>
</nav>
