@import 'src/stylesheets/utils';

:host {
}

.carousel-nav {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  top: 0;
  bottom: 0;
  margin: auto 0;

  &:first-child {
    left: 0.25rem;
  }

  &:last-child {
    right: 0.25rem;
  }
}

.carousel-nav-icon {
  color: white;
}
