@import 'src/stylesheets/utils';

:host {
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  &.is-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &.is-flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &.is-fluid {
    max-width: 100%;
  }

  &.is-max-height {
    height: 100%;
  }

  @each $breakpoint, $container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint) {
      max-width: map-get($container-max-widths, $breakpoint);

      &.is-fluid {
        max-width: 100%;
      }
    }
  }
}
