<mat-form-field class="ui-field" appearance="fill" *ngIf="control">
  <mat-label automation-id="room-booking-date-label">Прибытие - Выезд</mat-label>
  <mat-date-range-input
    automation-id="room-booking-date-range"
    [formGroup]="control"
    [rangePicker]="tripDate"
    [comparisonStart]="control.value.start"
    [comparisonEnd]="control.value.end"
    [min]="minDate"
    [max]="maxDate"
  >
    <input automation-id="room-booking-date-start" matStartDate placeholder="Прибытие" [formControlName]="BookingField.PeriodStart" />
    <input automation-id="room-booking-date-end" matEndDate placeholder="Выезд" [formControlName]="BookingField.PeriodEnd" />
  </mat-date-range-input>
  <mat-datepicker-toggle automation-id="room-booking-datepicker-toggle" matSuffix [for]="tripDate"></mat-datepicker-toggle>
  <mat-date-range-picker automation-id="room-booking-range-picker" [touchUi]="!isDesktopScreen" #tripDate></mat-date-range-picker>
</mat-form-field>
